<div class="site-section cta-big-image" id="about-section">
    <div class="container">

        <img src="assets/images/img_big_1.jpg" alt="Image" class="img-fluid">
        <div class="img-box">
            <!-- <span class="sub-title">Creative Skills</span> -->
            <h2>Nuestro objetivo</h2>
            <p>En NIOR tenemos como objetivo ofrecer el know how de cada uno de los integrantes de nuestro equipo de profesionales, los cuales cuentan con expereciencia comprobada en proyectos, tanto de empresas nacionales e internacionales de distintas áreas, entre ellas: Banca, Aerolíneas, Telecomunicaciones e Industrial. 
            Nos enfocamos principalmente en la calidad de los productos y/o servicios que realizamos, en el profesionalismo, en la integridad, en la seguridad en la manipulación la información que el cliente nos confía, en la utilización de estandares de calidad acorde a los nuevos tiempos y nuevas tecnologias, pero por sobre todo en el logro de los objetivos propuestos en cada una de las tareas encomendadas.</p>
            <!-- <p><a href="#" class="btn btn-outline-dark">Read More</a></p> -->
        </div>
    </div>
</div>