<section class="site-section border-bottom bg-light" id="services-section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-12 text-center">
                <h2 class="section-title mb-3">Nuestros Servicios</h2>
            </div>
        </div>
        <div class="row align-items-stretch">
            <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up">
                <div class="unit-4 d-flex">
                    <div class="unit-4-icon mr-4"><span class="text-primary icon-autorenew"></span></div>
                    <div>
                        <link rel="shortcut icon" type="image/x-icon" href="/images/icon1.ico" />
                        <h3>Desarrollo de aplicativos a medida</h3>
                        <p>Creación de soluciones informáticas tanto web, de escritorio y en dispositivos móviles. Sin importar la magnitud de sus ideas, lo ayudaremos a concretarlas.</p>
                        <!-- <p><a href="#">Learn More</a></p> -->
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="100">
                <div class="unit-4 d-flex">
                    <div class="unit-4-icon mr-4"><span class="text-primary icon-backspace"></span></div>
                    <div>
                        <h3>Automatización de procesos</h3>
                        <p>Si su organización ejecuta procesos manuales que pudieran transformarse en tareas tediosas, causar más de alguna demora o contratiempo, o simplemente la labor necesita una inversión de tiempo excesivo, podemos ayudar ejecutando
                            planes de mejora para estos.</p>
                        <!-- <p><a href="#">Learn More</a></p> -->
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="200">
                <div class="unit-4 d-flex">
                    <div class="unit-4-icon mr-4"><span class="text-primary icon-av_timer"></span></div>
                    <div>
                        <h3>Mantención correctiva de aplicativos</h3>
                        <p>Si ya cuenta con nuestros servicios, nos hacemos responsables del mantenimiento de los aplicativos, de lo contrario, si cuenta con aplicativos legados, previa evaluación, podemos sacar provecho de lo que ya tiene.</p>
                        <!-- <p><a href="#">Learn More</a></p> -->
                    </div>
                </div>
            </div>


            <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="300">
                <div class="unit-4 d-flex">
                    <div class="unit-4-icon mr-4"><span class="text-primary icon-beenhere"></span></div>
                    <div>
                        <h3>Evaluación y propuestas de proyectos informáticos</h3>
                        <p>Desde el inicio de una idea de su empresa o propuesta por parte de nuestra organización, contamos con el equipo indicado para cada una de las etapas que conllevan estas tareas.</p>
                        <!-- <p><a href="#">Learn More</a></p> -->
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="400">
                <div class="unit-4 d-flex">
                    <div class="unit-4-icon mr-4"><span class="text-primary icon-business_center"></span></div>
                    <div>
                        <h3>Mantención de equipamiento informáticos</h3>
                        <p>Atendemos todos los requerimientos de mantenimiento tanto para desktop (computadores de escritorio) y laptop (notebooks) desde Software a Hardware.</p>
                        <!-- <p><a href="#">Learn More</a></p> -->
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="500">
                <div class="unit-4 d-flex">
                    <div class="unit-4-icon mr-4"><span class="text-primary icon-cloud_done"></span></div>
                    <div>
                        <h3>Capacitaciones en Tecnologías</h3>
                        <p>Contamos con instalaciones (Salas de reuniones y de capacitación tanto en Santiago como en Concepción) donde poder llevar a cabo capacitaciones en temas de su interés, como también de los sistemas construidos para dejar a su personal
                            en capacidad de explotar a cabalidad cada uno de los proyectos que entregamos.</p>
                        <!-- <p><a href="#">Learn More</a></p> -->
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>