<div class="site-blocks-cover overlay" style="background-image: url(assets/images/hero_2.jpg);" data-aos="fade" id="home-section">
    <div class="container">
        <div class="row align-items-center justify-content-center">


            <div class="col-md-6 mt-lg-5 text-center">
                <h1>Somos NIOR</h1>
                <p class="mb-5">Empresa joven que busca brindar a sus clientes las herramientas necesarias para afrontar los desafíos de la transformación digital en todos los ámbitos de su organización. Contamos con un equipo profesional con vasta experiencia en proyectos, tanto de empresas nacionales e internacionales de distintas áreas, entre ellas: Banca, Aerolíneas, Telecomunicaciones e Industrial.</p>
                <!-- <div>
                    <a href="#" class="btn btn-primary mr-2 mb-2">Get Started</a>
                </div> -->
            </div>

        </div>
    </div>
</div>